<!DOCTYPE html>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <link rel="stylesheet" type="text/css" href="../static/css/code.css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<html>
  <body>
    <!-- User warning prompt -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content"">
        <div class="modal-title-container">
          <h1 class="modal-title">Archivy</h1>
        </div>
        <div
          style="
            display: flex;
            width: 100%;
            justify-content: space-between;
            gap: 10px;
          "
        >
          <div class="warning-section">
            <h3>Prompt It 💬</h3>
            <p>
              Pose your questions about building codes, construction permits,
              and compliance requirements.
            </p>
          </div>
          <div class="warning-section">
            <h3>Protect Info ⛔</h3>
            <p>
              Keep your personal data and confidential project details secure
              when seeking advice.
            </p>
          </div>
          <div class="warning-section">
            <h3>Verify Results 🔎</h3>
            <p>
              Verify the building regulations and code interpretations provided
              with local authorities to ensure accuracy.
            </p>
          </div>
        </div>
        <div><button id="myBtn">Okay</button></div>
      </div>
    </div>

    <div class="app">
      <div class="header">
        <div class="logo">
          <a  href="{{url_for('index')}}" id="title" style="text-decoration: none;">Archivy</a>
        </div>
        <div class="buttons">
          <div class="ctaButtons">
            <div id="signUpButton" class="undefined primaryButton">
              <a class="signup-button-text" href="{{url_for('register')}}"
                >Sign up</a
              >
            </div>
            <div class="undefined secondaryButton">
              <a class="profile-button-text" href="{{url_for('profile')}}"
                >Profile</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="body">
        <div id="codeExplorer">
          <div class="innercodeExplorer">
            <div class="sidebar">
              <iframe
                class="sideBariFrame"
                src="{{ url_for('iframe', filename='bookmarks.html') }}"
              ></iframe>
            </div>
            <div class="codeContainer">
              <div class="collapseContainer">
                <button class="toggle-btn"><</button>
              </div>
              <iframe
                class="codeContentiFrame"
                src="{{ url_for('iframe', filename='content.html') }}"
              ></iframe>
            </div>
          </div>
        </div>
        <div id="chatBot">
          <div class="chat-messages" id="messages">
            <div class="chatMessageContainer">
              <div class="systemPrompt">
                <div class="messageContainer">
                  <div class="messageContent">
                    <pre style="font-weight: bold;"class="plainText">
Hi, I'm here to assist you with your construction project. You can ask me anything regarding building codes.</pre
                    >
                    <p style="font-style: italic; margin-bottom: 0px;">  Archivy can make mistakes. Consider checking important information.</p>
                  </div>
                </div>
              </div>
            </div>
            <div style="float: left; clear: both"></div>
          </div>
          <div id="inputField">
            <div id="inputFieldArea">
              <input
                id="inputFieldValue"
                placeholder="Ask a question"
                value=""
                data-np-checked="1"
              />
              <div
                onclick="sendMessage()"
                id="sendInputButton"
                class="undefined primaryButton"
              >
                Ask
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>Made with dedication by http://sotomayor.dev</div>

    <!-- User warning prompt -->
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // When the user clicks on the button, open the modal
      window.onload = function () {
        modal.style.display = "block";
      };

      // When the user clicks on <span> (x), close the modal
      btn.onclick = function () {
        modal.style.display = "none";
      };

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };




      const url = "static/2015-Building-Code.pdf";

async function renderPage(doc, pageNumber) {
  if (pageNumber >= 1 && pageNumber <= doc._pdfInfo.numPages) {
    // Fetch the page
    const page = await doc.getPage(pageNumber);

    // Set the viewport
    const viewport = page.getViewport({ scale: 1.5 });

    // Set the canvas dimensions to the PDF page dimensions
    const canvas = document.getElementById("canvas");
    const context = canvas.getContext("2d");
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    // Render the PDF page into the canvas context
    await page.render({
      canvasContext: context,
      viewport: viewport,
    }).promise;

    // Create and position the text layer div
    const textLayerDiv = document.getElementById("text-layer");
    textLayerDiv.style.width = `${viewport.width}px`;
    textLayerDiv.style.height = `${viewport.height}px`;

    // Render the text layer
    const textContent = await page.getTextContent();
    const textLayer = new TextLayerBuilder({
      textLayerDiv,
      pageIndex: pageNumber - 1,
      viewport,
    });
    textLayer.setTextContent(textContent);
    textLayer.render();
  } else {
    console.log("Please specify a valid page number");
  }
}

async function sendMessage() {
  const chatInputField = document.getElementById("inputFieldValue");
  const chatMessages = document.querySelector(".chat-messages");
  const message = chatInputField.value;

  const selectedTextElement = document.querySelector(".selected-text");
  const selectedText = selectedTextElement
    ? selectedTextElement.textContent
    : "";

  if (message.trim() !== "" || selectedText.trim() !== "") {
    const messageContainer = document.createElement("div");
    messageContainer.classList.add("chatMessageContainer");

    const messageElement = document.createElement("div");
    messageElement.classList.add("chatMessage", "user-message");

    messageElement.textContent =
      message + (selectedText ? " [Selected text: " + selectedText + "]" : "");

    chatMessages.appendChild(messageContainer);

    const messageContainers = document.querySelectorAll(
      ".chatMessageContainer"
    );
    const lastMessageContainer =
      messageContainers[messageContainers.length - 1];
    lastMessageContainer.appendChild(messageElement);

    const loadingElement = document.createElement("div");
    loadingElement.setAttribute("id", "loadingMessage");
    loadingElement.setAttribute("style", "display: none;");
    loadingElement.setAttribute("class", "simpleText");
    loadingElement.textContent = "Thinking";

    const innerLoadingelement = document.createElement("span");
    innerLoadingelement.setAttribute("id", "dots");

    loadingElement.appendChild(innerLoadingelement);

    lastMessageContainer.appendChild(loadingElement);

    var loadingInterval = startLoadingAnimation();

    chatInputField.value = "";
    chatMessages.scrollTop = chatMessages.scrollHeight;
  }

  if (message.trim() !== "" || selectedText.trim() !== "") {
    // Send message and selected text to server
    const response = await fetch("/process_message", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ message, selectedText }),
    });

    // Check if the request was successful
    if (response.ok) {
      const responseData = await response.json();
      const data = responseData.responseText;
      const relatedChunks = responseData.relatedChunks;

      console.log(
        "yooooooooooooooooooooooooooooooooooooooooooooooooo!!!!!!!!!!!!!!!"
      );
      console.log(data);

      relatedSections = [];

      for (var i = 0; i < relatedChunks.length; i++) {
        var chunk = relatedChunks[i];
        var divClass = chunk.class;
        var divId = chunk.id;

        sectionDiv = document.createElement("a");
        sectionDiv.setAttribute("href", "content.html#" + divId);
        sectionDiv.setAttribute("class", "relatedSection");

        if (divClass) {
          sectionDiv.textContent = divClass;
        } else {
          sectionDiv.textContent = "Related Section";
        }

        relatedSections.push(sectionDiv); // Use push to add the element to the array
      }

      // Crete AI response text bubble
      const messageContainer = document.createElement("div");
      messageContainer.classList.add("chatMessageContainer");

      const messageElement = document.createElement("div");
      messageElement.classList.add("chatMessage", "airesponse");

      // Replace line and paragraph breaks with <br> tags

      messageElement.innerHTML = data.replace(/(?:\r\n|\r|\n)/g, "<br>");

      let messageContainers;
      messageContainers = document.querySelectorAll(".chatMessageContainer");

      let lastMessageContainer;

      stopLoadingAnimation(loadingInterval);
      lastMessageContainer = messageContainers[messageContainers.length - 1];
      lastMessageContainer.appendChild(messageElement);

      // Create AI response section bubbles
      const sectionsContainer = document.createElement("div");
      sectionsContainer.classList.add("chatMessageContainer");

      const sectionsElement = document.createElement("div");
      sectionsElement.classList.add("airesponse", "sections");
      sectionsElement.textContent = "Sources:";
      for (var i = 0; i < relatedSections.length; i++) {
        section = relatedSections[i];
        sectionsElement.appendChild(section);
        console.log(section);
      }

      chatMessages.appendChild(sectionsContainer);

      messageContainers = document.querySelectorAll(".chatMessageContainer");

      lastMessageContainer = messageContainers[messageContainers.length - 1];
      lastMessageContainer.appendChild(sectionsElement);

      var baseUrl = "{{ url_for('iframe', filename='') }}";

      if (sectionsElement) {
        const linksToUpdateIframe = sectionsElement.querySelectorAll("a");
        console.log("here!!!!!!!!!!!!!!!!!!!!!!!!");

        console.log(linksToUpdateIframe);
        for (var i = 0; i < linksToUpdateIframe.length; i++) {
          section = linksToUpdateIframe[i];
          console.log(i);
          console.log(section.getAttribute("href")); // Use getAttribute to access href
        }
        console.log("here!!!!!!!!!!!!!!!!!!!!!!!!");

        linksToUpdateIframe.forEach(function (linkToUpdateIframe) {
          linkToUpdateIframe.addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the default link behavior

            const codeContentiFrame =
              document.querySelector(".codeContentiFrame");

            if (codeContentiFrame) {
              // Use the entire href attribute value
              const href = linkToUpdateIframe.getAttribute("href");
              codeContentiFrame.src = baseUrl + href;

              console.log(codeContentiFrame);
            }
          });
        });
      }
    } else {
      console.error("Error sending message to the server");
    }
    var div = document.querySelector(".chat-messages");
    div.scrollTop = div.scrollHeight;
  }
}

// document.querySelector("embed").addEventListener("mouseup", function () {
//   const selectedText = window.getSelection();
//   console.log("oii mayte");
//   console.log(selectedText);

//   // Clear previous selections
//   const previousSelections = document.querySelectorAll(".selected-text");
//   previousSelections.forEach((selection) => {
//     const parent = selection.parentNode;
//     while (selection.firstChild) {
//       parent.insertBefore(selection.firstChild, selection);
//     }
//     parent.removeChild(selection);
//   });

//   if (selectedText.toString().trim() !== "") {
//     const range = selectedText.getRangeAt(0);
//     const span = document.createElement("span");
//     span.className = "selected-text";
//     range.surroundContents(span);
//   }
// });

// Update codeContent iFrame to sidebar selected item
var baseUrl = "{{ url_for('iframe', filename='') }}";

document.addEventListener("DOMContentLoaded", function () {
  const sideBariFrame = document.querySelector(".sideBariFrame");
  if (sideBariFrame) {
    sideBariFrame.addEventListener("load", function () {
      const linksToUpdateIframe =
        sideBariFrame.contentDocument.querySelectorAll(".bookmark");
      linksToUpdateIframe.forEach(function (linkToUpdateIframe) {
        linkToUpdateIframe.addEventListener("click", function (event) {
          event.preventDefault(); // Prevent the default link behavior
          const codeContentiFrame =
            document.querySelector(".codeContentiFrame");
          if (codeContentiFrame) {
            // Use the entire href attribute value
            const href = linkToUpdateIframe.getAttribute("href");
            codeContentiFrame.src = baseUrl + href;
          }
        });
      });
    });
  }
});

document.addEventListener("DOMContentLoaded", function () {
  var isHidden = false;
  var btn = document.querySelector(".toggle-btn");
  var div = document.querySelector(".sidebar");
  btn.addEventListener("click", function () {
    if (isHidden) {
      div.classList.remove("hidden");
      btn.textContent = "<";
    } else {
      div.classList.add("hidden");
      btn.textContent = ">";
    }
    isHidden = !isHidden;
  });
});

document
  .getElementById("inputFieldValue")
  .addEventListener("keypress", function (event) {
    if (event.keyCode === 13) {
      // 13 is the key code for Enter
      event.preventDefault(); // Prevent the default action to stop submitting the form directly
      sendMessage();
    }
  });

function startLoadingAnimation() {
  var loadingMessage = document.getElementById("loadingMessage");
  var dots = document.getElementById("dots");
  var numDots = 0;
  loadingMessage.style.display = "inline";

  var interval = setInterval(function () {
    dots.textContent += ".";
    numDots++;

    if (numDots === 4) {
      dots.textContent = "";
      numDots = 0;
    }
  }, 500); // Adjust the interval time as needed

  return interval;
}

function stopLoadingAnimation(interval) {
  clearInterval(interval);
  var loadingMessage = document.getElementById("loadingMessage");
  if (loadingMessage) {
    loadingMessage.remove(); // Remove the element from the DOM
  }
}


    </script>
    <!-- <script src="{{ url_for('static', filename='/js/code.js') }}"></script> -->

  </body>
</html>
