<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Terms of Service</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 0;
      }
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Terms of Service</h1>
      <p><strong>Effective date:</strong> November 12th, 2023</p>
      PLEASE READ THESE TERMS OF SERVICE (“AGREEMENT”) CAREFULLY BEFORE USING
      THE SERVICES available at or through HTTPS://Archivy.io (the “serviceS”),
      OFFERED BY ARCHIVY, INC. (“ARCHIVY”). BY USING THE SERVICEs IN ANY MANNER,
      YOU and THE ENTITY or organization YOU REPRESENT, if any (collectively,
      “YOU,” “YOUR”) AGREE THAT YOU HAVE READ AND AGREE TO BE BOUND BY AND A
      PARTY TO THE TERMS AND CONDITIONS OF THIS AGREEMENT, TO THE EXCLUSION OF
      ALL OTHER TERMS. IF YOU COMPLETED A REGISTRATION FOR THE Services, you MAY
      HAVE BEEN assigned an “Enterprise” account, an “individual” account, or A
      “team” account; references to “you” herein mean any user, IRRESPECTIVE OF
      WHETHER YOU HOLD AN ACCOUNT, while references to “Enterprise Customer” OR
      “ENTERPRISE ACCOUNT” means just USERS WHO HAVE REGISTERED FOR Enterprise
      accounts. IF THE TERMS OF THIS AGREEMENT ARE CONSIDERED AN OFFER,
      ACCEPTANCE IS EXPRESSLY LIMITED TO SUCH TERMS. USE OF the SERVICES IS
      EXPRESSLY CONDITIONED UPON Your ASSENT TO ALL THE TERMS AND CONDITIONS OF
      THIS AGREEMENT. IF YOU DO NOT UNCONDITIONALLY AGREE TO ALL THE TERMS AND
      CONDITIONS OF THE AGREEMENT, YOU WILL HAVE NO RIGHT TO USE THE SERVICES.
      BY USING THE SERVICES, YOU REPRESENT AND WARRANT THAT YOU ARE AUTHORIZED
      TO BIND any entity or organization on whose behalf you are entering into
      this agreement.
      <br /><br />
      1. SERVICES AND SUPPORT.
      <br /><br />
      1.1 In order to access the Services, You may be required to establish an
      account by selecting a password and user name (“ARCHIVY User ID”), and
      provide certain information or data, such as Your contact information
      (and, if applicable, the contact information for each user You authorize
      to use the Services under your account, as permitted by the functionality
      of Your account on the Services (each, an “Authorized User”)). You may
      also be required to provide information about Your organization, such as
      the industry You work in and the size of Your organization.
      <br /><br />
      1.2 Subject to all terms and conditions of this Agreement, ARCHIVY grants
      You a limited, non-exclusive, non-sublicenseable, royalty-free,
      non-transferrable license to access and use the Services that You have
      selected in connection therewith, through the online registration and
      account maintenance processes or otherwise through Your use of the
      Archivy.io site, for Your internal, business purposes, and not on behalf
      of or for the benefit of any non-affiliate third party. The Services are
      subject to modification, restriction, or suspension from time to time at
      ARCHIVY’ sole discretion, for any purpose deemed appropriate by ARCHIVY.
      <br /><br />
      1.3 ARCHIVY will undertake commercially reasonable efforts to make the
      Services available to You. Notwithstanding the foregoing, ARCHIVY reserves
      the right to suspend Your access to the Services: (i) for scheduled or
      emergency maintenance, or (ii) in the event You breach this Agreement,
      including for failure to pay any amounts associated with Your account due
      to ARCHIVY.
      <br /><br />
      1.4 ARCHIVY offers You email support at support@Archivy.io. Subject to the
      terms hereof, ARCHIVY will use commercially reasonable efforts to provide
      You with reasonable support for the Services from Monday through Friday
      during ARCHIVY’ normal business hours. However, ARCHIVY cannot guarantee
      that it will be able to fix the problem You may be having.
      <br /><br />
      1.5 The Services may include the display of certain local, state, or
      federal building codes that are made publicly available by local, state,
      or federal authorities outside of the Services and are displayed by
      ARCHIVY as whole and unmodified statutory text (such content, the
      “Building Codes”). For clarity, the Building Codes are not owned by
      ARCHIVY and ARCHIVY makes no claim of copyright ownership over such
      Building Codes. However, law publishers may claim copyright ownership.
      ARCHIVY is not responsible for any claim or action that law publishers may
      take in connection with your use or re-publication of the Building Codes
      made available through the Services.
      <br /><br />
      2. RESTRICTIONS AND RESPONSIBILITIES.
      <br /><br />
      2.1 You will not, and will not permit any third party to: (i) reverse
      engineer (except to the limited extent applicable law expressly prohibits
      such a restriction), decompile, disassemble or otherwise attempt to
      discover or obtain the source code, object code or underlying structure,
      ideas or algorithms of the Services or any software, documentation, or
      data related to or generated by the Services (“Software”); (ii) modify,
      translate, or create derivative works based on the Services (excluding the
      Building Codes) or Software (for clarity, Comments (defined below) shared
      subject to all terms and conditions of this Agreement are not derivative
      works for the purpose of the foregoing prohibition); (iii) use the
      Software or Services for timesharing or service bureau purposes or for any
      purpose other than Your own internal business purposes; (iv) use the
      Software or Services in any infringing, defamatory, harmful, fraudulent,
      illegal, deceptive, threatening, harassing, or obscene way; (v) use the
      Services or Software in connection with any political campaigns or
      lobbying activities; (vi) use the Services or Software to obtain legal
      advice, tailored financial advice, or health-related advice without
      verifying such information with a qualified industry professional; (vii)
      use the Services or Software other than in accordance with this Agreement
      and in compliance with all applicable laws and regulations (including but
      not limited to those related to privacy, intellectual property, consumer
      and child protection, text messaging, obscenity and/or defamation) or in
      any manner that infringes or violates the intellectual property rights or
      proprietary or privacy rights of any third party; or (viii) use the
      Services in any manner that is harmful, fraudulent, deceptive,
      threatening, abusive, obscene, libelous, or otherwise objectionable.
      <br /><br />
      2.2 You will cooperate with ARCHIVY in connection with the performance of
      this Agreement by making available such personnel and information as may
      be reasonably required, and taking such other actions as ARCHIVY may
      reasonably request. If You are an account holder, You will be responsible
      for maintaining the security of Your account, passwords, and files, and
      for all uses of Your account with or without Your knowledge or consent.
      <br /><br />
      2.3 You acknowledge and agree that the Services operate on, or in
      connection with, or otherwise use, application programming interfaces
      (APIs) and/or other services operated or provided by third parties,
      including links to third party websites (“Third Party Services”). ARCHIVY
      is not responsible for the operation of any Third Party Services nor the
      availability or operation of the Services to the extent such availability
      and operation is dependent upon Third Party Services. You are solely
      responsible for procuring any and all rights necessary for You to access
      Third Party Services and for complying with any applicable terms or
      conditions thereof. ARCHIVY does not make any representations or
      warranties with respect to Third Party Services or any third party
      providers. Any exchange of data or other interaction between You and a
      third party provider is solely between You and such third party provider
      and is governed by such third party’s applicable terms and conditions.
      <br /><br />
      2.4 If You are an Enterprise Account user or have Authorized Users
      associated with Your Services account, You will designate an individual
      who will be responsible for all matters relating to this Agreement
      (“Primary Contact”). You may change the individual designated as Primary
      Contact at any time by providing written notice to ARCHIVY. If You are the
      only Authorized User associated with Your Services account, You are the
      Primary Contact.
      <br /><br />
      3. INTELLECTUAL PROPERTY RIGHTS; CONFIDENTIALITY AND PRIVACY.
      <br /><br />
      3.1 Except as expressly set forth herein (including with respect to the
      Building Codes), ARCHIVY (and its licensors, where applicable) will retain
      all intellectual property rights relating to the Software, the Services
      and/or any suggestions, ideas, enhancement requests, feedback,
      recommendations or other information provided by You or any other party
      relating to the Software or Services (“Feedback”), and You hereby make all
      assignments necessary to achieve the foregoing. ARCHIVY reserves all
      rights not expressly granted to You hereunder.
      <br /><br />
      3.2 As part of the Services, (a) You or the Authorized Users associated
      with Your account may, directly or indirectly, provide ARCHIVY with access
      to certain information or content about or related to You and/or the
      organization You are affiliated with (“Organization”), including without
      limitation personally identifiable information regarding You and the
      Authorized Users who are associated with Your account, and (b) ARCHIVY
      will collect information regarding Your and such Authorized Users’
      interactions with and use of the Services and Software (all of the
      foregoing, “Data”). Data may include comments that You or such an
      Authorized User makes on Services content in a manner that You or other
      Authorized Users can view (“Comments”). You hereby grant ARCHIVY an
      irrevocable, perpetual, non-exclusive, worldwide, royalty-free right and
      license to use, exercise, and otherwise fully exploit all rights in the
      Data in connection with providing and improving ARCHIVY’ products and
      services (including, in the case of Comments, making them available for
      others associated with Your Organization to view via the Services). In any
      event, ARCHIVY may aggregate Data and use such aggregated Data to evaluate
      and improve the Services and otherwise for its business purposes. You
      represent that with respect to Data You or Your associated Authorized
      Users submit to the Services, You have all rights necessary to make it
      available via the Services and permit ARCHIVY to use and exercise rights
      in it as provided in this Agreement and via the functionality of the
      Services. Without limiting the foregoing, ARCHIVY will comply with its
      Privacy Policy with respect to any Data that is personally identifiable,
      as described in the Privacy Policy, which is hereby incorporated into this
      Agreement by reference.
      <br /><br />
      3.3 From time to time during the term of this Agreement, ARCHIVY may
      disclose or make available to You information about its business affairs,
      products, confidential intellectual property, trade secrets, third-party
      confidential information, and other sensitive or proprietary information,
      whether or not marked, designated or otherwise identified as
      “confidential” (collectively, “Proprietary Information”). ARCHIVY’
      Proprietary Information includes the Services and all content ARCHIVY
      makes available thereon, excluding the Building Codes. You agree: (i) not
      to divulge to any unauthorized third person any such Proprietary
      Information, (ii) to give access to such Proprietary Information solely to
      those employees and representatives with a need to have access thereto for
      purposes of this Agreement, and (iii) to take the same security
      precautions to protect against disclosure or unauthorized use of such
      Proprietary Information that You take with your own proprietary
      information, but in no event will You apply less than reasonable
      precautions to protect such Proprietary Information.
      <br /><br />
      4. FEES AND PAYMENT.
      <br /><br />
      4.1 This Section 4 shall apply only to those account(s) and/or Services
      that carry fees.
      <br /><br />
      4.2 The fees applicable to the Services are set forth on the Pricing page
      available at https://Archivy.io/pricing (the “Fee Schedule”), and the Fee
      Schedule is incorporated herein by this reference. All fees are listed in
      United States Dollars.
      <br /><br />
      4.3 The Services carry subscription fees (“Subscription Fees”). Unless
      otherwise mutually agreed in writing by You and ARCHIVY, Subscription Fees
      will be due on an annual or monthly basis, as agreed by You and ARCHIVY
      via the functionality provided therefor in Your Services account (the
      payment term applicable to You, the “Subscription Term”). At the beginning
      of each Subscription Term during the term of this Agreement, You will be
      required to pay any applicable Subscription Fees and choose a method for
      paying any such fees (“Payment Method”). If You’ve provided a credit card
      number via the functionality provided therefor in Your Services account,
      ARCHIVY will charge such credit card for any applicable Subscription Fees
      due for such Subscription Term. If You hold an Enterprise Account, You may
      also have the option to pay by check or by ACH. If You’ve opted to pay by
      ACH and have provided relevant ACH account information via the
      functionality provided therefor in Your Services account, ARCHIVY will
      charge Your ACH account accordingly for any applicable Subscription Fees
      due for such Subscription Term. If You have opted to pay by check, ARCHIVY
      will provide You with an invoice prior to the beginning of Your
      Subscription Term). Invoices for Subscription Fees must be paid within
      thirty (30) days after Your receipt thereof.
      <br /><br />
      4.4 ARCHIVY may raise its Subscription Fees for subsequent Subscription
      Terms, provided ARCHIVY will provide You notice via the email associated
      with Your ARCHIVY account at least thirty (30) days prior to the first
      date of the new Subscription Term that will be subject to the increased
      price.
      <br /><br />
      4.5 Some of the Services may consist of an initial period followed by
      recurring Subscription Terms. By choosing a recurring payment plan, You
      acknowledge that such Services may have an initial period (which could be
      free or carry a fee) and a recurring payment feature for subsequent
      Subscription Terms, and You accept responsibility for all recurring
      Subscription Fees for subsequent Subscription Terms prior to cancellation.
      Your non-termination and/or continued use of the Services reaffirms that
      ARCHIVY is authorized to charge your Payment Method for applicable
      Subscription Fees. ARCHIVY MAY SUBMIT PERIODIC CHARGES (BASED ON YOUR
      AGREED UPON SUBSCRIPTION TERM) WITHOUT FURTHER AUTHORIZATION FROM YOU,
      UNTIL YOU PROVIDE PRIOR NOTICE (RECEIPT OF WHICH IS CONFIRMED BY ARCHIVY)
      THAT YOU HAVE TERMINATED THIS AUTHORIZATION OR WISH TO CHANGE YOUR PAYMENT
      METHOD. SUCH NOTICE WILL NOT AFFECT CHARGES SUBMITTED BEFORE WE REASONABLY
      COULD ACT. TO TERMINATE YOUR AUTHORIZATION OR CHANGE YOUR PAYMENT METHOD,
      GO TO YOUR BILLING PAGE.
      <br /><br />
      4.6 YOU MUST PROVIDE CURRENT, COMPLETE AND ACCURATE PAYMENT INFORMATION
      FOR YOUR ARCHIVY ACCOUNT THAT CORRESPONDS WITH YOUR PAYMENT METHOD. YOU
      MUST PROMPTLY UPDATE ALL PAYMENT METHOD INFORMATION TO KEEP YOUR ARCHIVY
      ACCOUNT CURRENT, COMPLETE AND ACCURATE (SUCH AS A CHANGE IN BILLING
      ADDRESS, ACCOUNT INFORMATION, CREDIT CARD NUMBER, OR CREDIT CARD
      EXPIRATION DATE), AND YOU MUST PROMPTLY NOTIFY ARCHIVY OR OUR PAYMENT
      PROCESSOR (IF APPLICABLE) IF YOUR PAYMENT METHOD IS CANCELED (E.G., FOR
      LOSS OR THEFT) OR IF YOU BECOME AWARE OF A POTENTIAL BREACH OF SECURITY,
      SUCH AS THE UNAUTHORIZED DISCLOSURE OR USE OF YOUR USER NAME OR PASSWORD.
      CHANGES TO SUCH INFORMATION CAN BE MADE AT YOUR PROFILE PAGE. IF YOU FAIL
      TO PROVIDE ANY OF THE FOREGOING INFORMATION, YOU AGREE THAT ARCHIVY MAY
      CONTINUE CHARGING YOU FOR ANY USE OF SERVICES UNDER YOUR ACCOUNT UNLESS
      YOU HAVE TERMINATED YOUR PAID SERVICES AS SET FORTH HEREIN, AND MAY HOLD
      YOU LIABLE FOR ANY UNPAID SUBSCRIPTION FEES.
      <br /><br />
      4.7 Unless otherwise agreed by You and ARCHIVY in writing, all applicable
      Subscription Fees are non-refundable for any reason, including without
      limitation if this Agreement terminates prior to the end of a Subscription
      Term for which You have pre-paid Subscription Fees. All amounts due
      hereunder will be paid in United States Dollars within the United States.
      <br /><br />
      4.8 Unpaid Subscription Fees are subject to a finance charge of one
      percent (1.0%) per month, or the maximum permitted by law, whichever is
      lower, plus all expenses of collection, including reasonable attorneys’
      fees. Subscription Fees under this Agreement are exclusive of all taxes,
      including national, state or provincial and local use, sales, value-added,
      property and similar taxes, if any. You agree to pay such taxes (excluding
      US taxes based on ARCHIVY’ net income) unless You have provided ARCHIVY
      with a valid exemption certificate or a functionally similar document.
      <br /><br />
      5. TERM AND TERMINATION.
      <br /><br />
      5.1 If You use Services subject to Subscription Fees, unless otherwise
      agreed upon in writing by You and ARCHIVY, the term of this Agreement will
      be the Subscription Term; otherwise, the term of this Agreement is
      indefinite but terminable pursuant to Section 5.2. Unless You opt out of
      auto-renewal, Your Subscription Term will automatically renew as detailed
      in Section 5.3.
      <br /><br />
      5.2 In the event of any material breach of this Agreement (including,
      without limitation, any failure to pay Subscription Fees due hereunder),
      the non-breaching party may terminate this Agreement prior to the end of
      the Subscription Term by giving thirty (30) days (or ten (10) days in the
      case of nonpayment) prior written notice to the breaching party; provided,
      however, that this Agreement will not terminate if the breaching party has
      cured the breach prior to the expiration of such applicable thirty-day or
      ten-day period. Either party may terminate this Agreement, without notice,
      (i) upon the institution by or against the other party of insolvency,
      receivership or bankruptcy proceedings, (ii) upon the other party's making
      an assignment for the benefit of creditors, or (iii) upon the other
      party's dissolution or ceasing to do business. If You are not subject to a
      Subscription Term, either party may also terminate this Agreement for
      convenience, at any time upon notice to the other party.
      <br /><br />
      5.3 Unless You opt out of auto-renewal, which You can do by logging into
      Your account and navigating to Your Billing page, any Services You have
      signed up for will be automatically extended for successive renewal
      periods of the same duration as the Subscription Term, at the then-current
      rate. To change or resign Your Services at any time, go to Your Billing
      page. If You terminate the Services, You may use Your subscription until
      the end of Your then-current previously-paid Subscription Term, and Your
      subscription will not be renewed after Your then-current Subscription Term
      expires. However, You will not be eligible for a prorated refund of any
      portion of the subscription fee paid for the then-current Subscription
      Term. IF YOU DO NOT WANT TO CONTINUE TO BE CHARGED ON A RECURRING MONTHLY
      BASIS, YOU MUST CANCEL THE APPLICABLE SERVICES THROUGH YOUR BILLING PAGE
      OR TERMINATE YOUR ARCHIVY ACCOUNT BEFORE THE END OF THE RECURRING TERM.
      <br /><br />
      5.4 The following sections of this Agreement will survive termination:
      Sections 2.1, 2.3, 3.1, 3.2, 3.3, 4.6, 4.8, 6, 7, 8, 9, 10, 11.1, 11.2, ,
      11.4, 11.6, 11.7.
      <br /><br />
      6. WARRANTY DISCLAIMER.
      <br /><br />
      6.1 TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICES AND
      ANYTHING ELSE PROVIDED TO YOU IN CONNECTION WITH THIS AGREEMENT ARE
      PROVIDED "AS-IS," WITHOUT ANY WARRANTIES OF ANY KIND. ARCHIVY HEREBY
      DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, RELATING TO THE SUBJECT
      MATTER HEREUNDER (INCLUDING BUILDING CODES), INCLUDING, WITHOUT
      LIMITATION, ALL IMPLIED WARRANTIES OF MERCHANTABILITY, SATISFACTORY
      QUALITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, AND
      QUIET ENJOYMENT. ARCHIVY DOES NOT WARRANT THAT THE SERVICES WILL BE
      UNINTERRUPTED, ACCURATE OR ERROR FREE.
      <br /><br />
      7. ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING.
      <br /><br />
      7.1 You may have the opportunity to interact with certain features within
      the Services that leverage artificial intelligence and machine learning
      capabilities (“AI”) to help you research relevant codes, including the
      ARCHIVY Copilot feature. Any advice or information that You receive from
      these AI features are generated electronically using AI, and are not
      generated by a human.
      <br /><br />
      7.2 AI is a rapidly evolving field, and ARCHIVY is working to improve its
      AI offerings by making them more accurate, reliable, safe and beneficial.
      However, given the probabilistic nature of AI, Your use of AI features
      within the Services may yield inaccurate results or incorrect advice in
      some situations. The Services are meant to help You search for and
      evaluate building codes, but the Services do not substitute for the
      expertise of trained professional humans. Accordingly, You agree to only
      use the ARCHIVY Copilot feature and the Services in according with the
      terms of this Agreement and only to help you research codes for internal
      business purposes. Before relying upon any information or advice You
      receive from the Services, You should consult a qualified professional
      human to evaluate the accuracy of any such information or advice. You
      acknowledge that relying upon any information generated through AI
      features without first verifying the accuracy of such information with a
      qualified human could cause harm, including but not limited to legal,
      financial, and physical harm.
      <br /><br />
      7.3 You agree not to include any irrelevant, unnecessary, fraudulent, or
      deceptive terms or instructions into the Services in attempts to “break,”
      steer, or otherwise attempt to solicit results from the AI features that
      would violate this Agreement or any applicable laws.
      <br /><br />
      8. LIMITATION OF LIABILITY.
      <br /><br />
      8.1 TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL
      ARCHIVY (OR ANY OF ITS AGENTS, AFFILIATES, LICENSORS OR SUPPLIERS) BE
      LIABLE FOR ANY INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL
      DAMAGES, OR COST OF PROCUREMENT OF SUBSTITUTE SERVICES OR SOFTWARE,
      ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THE SERVICES, OR
      ANYTHING PROVIDED IN CONNECTION WITH THIS AGREEMENT (INCLUSIVE OF BUILDING
      CODES) THE DELAY OR INABILITY TO USE THE SERVICES OR ANYTHING PROVIDED IN
      CONNECTION WITH THIS AGREEMENT OR OTHERWISE ARISING FROM THIS AGREEMENT,
      INCLUDING WITHOUT LIMITATION, LOSS OR CORRUPTION OF DATA, ERROR OR
      OMISSION IN THE SERVICES, LOSS OF REVENUE OR ANTICIPATED PROFITS OR LOST
      BUSINESS OR LOST SALES, WHETHER BASED IN CONTRACT, TORT (INCLUDING
      NEGLIGENCE), STRICT LIABILITY, OR OTHERWISE, EVEN IF ARCHIVY HAS BEEN
      ADVISED OF THE POSSIBILITY OF DAMAGES.
      <br /><br />
      8.2 THE TOTAL LIABILITY OF ARCHIVY, WHETHER BASED IN CONTRACT, TORT
      (INCLUDING NEGLIGENCE OR STRICT LIABILITY), OR OTHERWISE, WILL NOT EXCEED,
      IN THE AGGREGATE, THE GREATER OF (i) ONE THOUSAND DOLLARS ($1,000), OR
      (ii) THE SUBSCRIPTION FEES PAID AND/OR PAYABLE BY YOU TO ARCHIVY HEREUNDER
      IN THE TWELVE (12) MONTH PERIOD PRECEDING THE DATE THAT A CLAIM OR DEMAND
      IS FIRST ASSERTED. THE FOREGOING LIMITATIONS WILL APPLY NOTWITHSTANDING
      ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.
      <br /><br />
      9. INDEMNIFICATION.
      <br /><br />
      9.1 You will defend, indemnify, and hold harmless ARCHIVY, its affiliates,
      and each of its, and its affiliates’, employees, contractors, directors,
      suppliers, licensors and representatives, from and against any
      liabilities, losses, claims, and expenses, including reasonable attorneys’
      fees, arising from Your actions in connection with Your use of the
      Services, including any claim that Your actions violate any applicable law
      or third party right.
      <br /><br />
      10. U.S. GOVERNMENT MATTERS.
      <br /><br />
      10.1 Notwithstanding anything else, You may not provide to any person or
      export or re-export or allow the export or re-export of the Services or
      any Software or anything related thereto (collectively “Controlled Subject
      Matter”), in violation of any restrictions, laws or regulations of the
      United States Department of Commerce, the United States Department of
      Treasury Office of Foreign Assets Control, or any other United States or
      foreign agency or authority. Without limiting the foregoing, You
      acknowledge and agree that the Controlled Subject Matter will not be used
      or transferred or otherwise exported or re-exported to countries as to
      which the United States maintains an embargo (collectively, “Embargoed
      Countries”), or to or by a national or resident thereof, or any person or
      entity on the U.S. Department of Treasury’s List of Specially Designated
      Nationals or the U.S. Department of Commerce’s Table of Denial Orders
      (collectively, “Designated Nationals”). The lists of Embargoed Countries
      and Designated Nationals are subject to change without notice.
      <br /><br />
      11. MISCELLANEOUS.
      <br /><br />
      11.1 If any provision of this Agreement is found to be unenforceable or
      invalid, that provision will be limited or eliminated to the minimum
      extent necessary so that this Agreement will otherwise remain in full
      force and effect and enforceable.
      <br /><br />
      11.2 This Agreement is not assignable, transferable or sublicensable by
      You except with ARCHIVY’ prior written consent, by operation of law or
      otherwise, including in connection with a merger, acquisition, asset sale,
      or other similar transaction. ARCHIVY may transfer and assign any of its
      rights and obligations under this Agreement freely and without consent.
      <br /><br />
      11.3 This Agreement is the complete and exclusive statement of the mutual
      understanding of the parties and supersedes and cancels all previous
      written and oral agreements, communications and other understandings
      relating to the subject matter of this Agreement, and that all waivers and
      modifications must be in a writing signed by both parties, except as
      otherwise provided herein.
      <br /><br />
      ARCHIVY will provide thirty (30) days’ notice of any changes to this
      Agreement or the Privacy Policy, and if You do not object within such
      thirty (30) days (the “Change Notice Period”), You will have accepted any
      and all changes. If You use the Services free of charge and You object to
      any such changes, Your only recourse will be to terminate Your use of the
      Services. If You pay Subscription Fees for the Services and You object to
      any such changes, Your only recourse will be to terminate Your use of the
      Services (immediately upon notice to ARCHIVY, either pursuant to Section
      11.5 or via the feature provided therefor in Your Services account,
      provided You must provide such notice during the Change Notice Period) and
      receive a prorated refund for the remainder of Your then-current
      Subscription Term.
      <br /><br />
      11.4 No agency, partnership, joint venture, or employment is created as a
      result of this Agreement and You do not have any authority of any kind to
      bind ARCHIVY in any respect whatsoever. There are no third party
      beneficiaries to this Agreement.
      <br /><br />
      11.5 All notices under this Agreement will be in writing and will be
      deemed to have been duly given when received, if personally delivered;
      when receipt is electronically confirmed, if transmitted by facsimile or
      e-mail; and upon receipt, if sent by certified or registered mail (return
      receipt requested), postage prepaid.
      <br /><br />
      11.6 This Agreement will be governed by the laws of the State of
      California, U.S.A. without regard to its conflict of laws provisions. In
      the event of any dispute arising from or related to the subject matter of
      this Agreement, You and ARCHIVY agree and hereby consent to exclusive
      jurisdiction and venue in the state and federal courts of San Francisco
      County, California, provided that either party may seek injunctive relief
      at any time in any court of competent jurisdiction.
      <br /><br />
      11.7 You hereby grant ARCHIVY the right to use Your name(s), mark(s), and
      logo(s) to identify You as an ARCHIVY customer, and otherwise in ARCHIVY’
      publicity and marketing materials, unless You notify ARCHIVY in writing
      otherwise.
      <p>
        PLEASE READ THESE TERMS OF SERVICE (“AGREEMENT”) CAREFULLY BEFORE USING
        THE SERVICES available at or through
        <a href="https://Archivy.io">HTTPS://Archivy.io</a> (the “SERVICES”),
        OFFERED BY ARCHIVY, INC. (“ARCHIVY”). BY USING THE SERVICES IN ANY
        MANNER, YOU AND THE ENTITY OR ORGANIZATION YOU REPRESENT, IF ANY
        (COLLECTIVELY, “YOU,” “YOUR”) AGREE THAT YOU HAVE READ AND AGREE TO BE
        BOUND BY AND A PARTY TO THE TERMS AND CONDITIONS OF THIS AGREEMENT, TO
        THE EXCLUSION OF ALL OTHER TERMS.
      </p>
      <!-- Continue with the rest of the terms -->
    </div>
  </body>
</html>
