<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bookmarks</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../static/css/codes/2010-design-standards/bookmarks.css"
    />
  </head>

  <body>
    <div class="data">
      <a
        class="bookmark"
        target="content"
        href="content.html#bookmark0"
        style="padding-left: 10pt"
        >2010 ADA Standardsfor Accessible Design</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark1"
        style="padding-left: 20pt"
        >Contents </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark2"
        style="padding-left: 20pt"
        >Overview </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark3"
        style="padding-left: 30pt"
        >For More Information </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark4"
        style="padding-left: 20pt"
        >2010 Standards for State and Local Government Facilities: Title II </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark5"
        style="padding-left: 30pt"
        >Compliance Date for Title II </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark6"
        style="padding-left: 30pt"
        >2004 ADAAG </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark7"
        style="padding-left: 30pt"
        >§ 35.151 New construction and alterations. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark8"
        style="padding-left: 40pt"
        >(a) Design and construction. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark9"
        style="padding-left: 40pt"
        >(b) Alterations. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark10"
        style="padding-left: 40pt"
        >(c) Accessibility standards and compliance date. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark11"
        style="padding-left: 40pt"
        >(d) Scope of coverage. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark12"
        style="padding-left: 40pt"
        >(e) Social service center establishments. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark13"
        style="padding-left: 40pt"
        >(f) Housing at a place of education.</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark14"
        style="padding-left: 40pt"
        >(g) Assembly areas.</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark15"
        style="padding-left: 40pt"
        >(h) Medical care facilities. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark16"
        style="padding-left: 40pt"
        >(i) Curb ramps. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark17"
        style="padding-left: 40pt"
        >(j) Facilities with residential dwelling units for sale to individual
        owners. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark18"
        style="padding-left: 40pt"
        >(k) Detention and correctional facilities. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark19"
        style="padding-left: 20pt"
        >2010 Standards for Public Accommodations and Commercial Facilities:
        Title III </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark20"
        style="padding-left: 30pt"
        >Compliance Date for Title III </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark21"
        style="padding-left: 30pt"
        >§ 36.401 New construction. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark22"
        style="padding-left: 40pt"
        >(a) General. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark23"
        style="padding-left: 40pt"
        >(b) Commercial facilities located in private residences. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark24"
        style="padding-left: 40pt"
        >(c) Exception for structural impracticability. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark25"
        style="padding-left: 40pt"
        >(d) Elevator exemption. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark26"
        style="padding-left: 30pt"
        >§ 36.402 Alterations. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark27"
        style="padding-left: 40pt"
        >(a) General. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark28"
        style="padding-left: 40pt"
        >(b) Alteration.</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark29"
        style="padding-left: 40pt"
        >(c) To the maximum extent feasible. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark30"
        style="padding-left: 30pt"
        >§ 36.403 Alterations: Path of travel. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark31"
        style="padding-left: 40pt"
        >(a) General. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark32"
        style="padding-left: 40pt"
        >(b) Primary function. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark33"
        style="padding-left: 40pt"
        >(c) Alterations to an area containing a primary function. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark34"
        style="padding-left: 40pt"
        >(d) Landlord/tenant: </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark35"
        style="padding-left: 40pt"
        >(e) Path of travel. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark36"
        style="padding-left: 40pt"
        >(f) Disproportionality. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark37"
        style="padding-left: 40pt"
        >(g) Duty to provide accessible features in the event of
        disproportionality. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark38"
        style="padding-left: 40pt"
        >(h) Series of smaller alterations. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark39"
        style="padding-left: 30pt"
        >§ 36.404 Alterations: Elevator exemption. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark40"
        style="padding-left: 30pt"
        >§ 36.405 Alterations: Historic preservation. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark41"
        style="padding-left: 30pt"
        >§ 36.406 Standards for new construction and alterations. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark42"
        style="padding-left: 40pt"
        >(a) Accessibility standards and compliance date. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark43"
        style="padding-left: 40pt"
        >(b) Scope of coverage. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark44"
        style="padding-left: 40pt"
        >(c) Places of lodging. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark45"
        style="padding-left: 40pt"
        >(d) Social service center establishments. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark46"
        style="padding-left: 40pt"
        >(e) Housing at a place of education. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark47"
        style="padding-left: 40pt"
        >(f) Assembly areas. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark48"
        style="padding-left: 40pt"
        >(g) Medical care facilities. </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark49"
        style="padding-left: 30pt"
        >§§ 36.407—36.499 [Reserved] </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark50"
        style="padding-left: 20pt"
        >2010 Standards for Titles II and III Facilities: 2004 ADAAG </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark51"
        style="padding-left: 30pt"
        >ADA CHAPTER 1: APPLICATION AND ADMINISTRATION </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark52"
        style="padding-left: 40pt"
        >101 Purpose </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark53"
        style="padding-left: 40pt"
        >102 Dimensions for Adults and Children </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark54"
        style="padding-left: 40pt"
        >103 Equivalent Facilitation </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark55"
        style="padding-left: 40pt"
        >104 Conventions </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark56"
        style="padding-left: 40pt"
        >105 Referenced Standards </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark57"
        style="padding-left: 40pt"
        >106 Definitions </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark58"
        style="padding-left: 30pt"
        >ADA CHAPTER 2: SCOPING REQUIREMENTS </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark59"
        style="padding-left: 40pt"
        >201 Application </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark60"
        style="padding-left: 40pt"
        >202 Existing Buildings and Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark61"
        style="padding-left: 40pt"
        >203 General Exceptions </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark62"
        style="padding-left: 40pt"
        >204 Protruding Objects </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark63"
        style="padding-left: 40pt"
        >205 Operable Parts </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark64"
        style="padding-left: 40pt"
        >206 Accessible Routes </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark65"
        style="padding-left: 40pt"
        >207 Accessible Means of Egress</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark66"
        style="padding-left: 40pt"
        >208 Parking Spaces</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark67"
        style="padding-left: 40pt"
        >209 Passenger Loading Zones and Bus Stops</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark68"
        style="padding-left: 40pt"
        >210 Stairways</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark69"
        style="padding-left: 40pt"
        >211 Drinking Fountains</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark70"
        style="padding-left: 40pt"
        >212 Kitchens, Kitchenettes, and Sinks</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark71"
        style="padding-left: 40pt"
        >213 Toilet Facilities and Bathing Facilities</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark72"
        style="padding-left: 40pt"
        >214 Washing Machines and Clothes Dryers</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark73"
        style="padding-left: 40pt"
        >215 Fire Alarm Systems</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark74"
        style="padding-left: 40pt"
        >216 Signs</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark75"
        style="padding-left: 40pt"
        >217 Telephones</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark76"
        style="padding-left: 40pt"
        >218 Transportation Facilities</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark77"
        style="padding-left: 40pt"
        >219 Assistive Listening Systems</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark78"
        style="padding-left: 40pt"
        >220 Automatic Teller Machines and Fare Machines</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark79"
        style="padding-left: 40pt"
        >221 Assembly Areas</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark80"
        style="padding-left: 40pt"
        >222 Dressing, Fitting, and Locker Rooms</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark81"
        style="padding-left: 40pt"
        >223 Medical Care and Long-Term Care Facilities</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark82"
        style="padding-left: 40pt"
        >224 Transient Lodging Guest Rooms</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark83"
        style="padding-left: 40pt"
        >225 Storage</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark84"
        style="padding-left: 40pt"
        >226 Dining Surfaces and Work Surfaces</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark85"
        style="padding-left: 40pt"
        >227 Sales and Service </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark86"
        style="padding-left: 40pt"
        >228 Depositories, Vending Machines, Change Machines, Mail Boxes, and
        Fuel Dispensers </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark87"
        style="padding-left: 40pt"
        >229 Windows </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark88"
        style="padding-left: 40pt"
        >230 Two-Way Communication Systems </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark89"
        style="padding-left: 40pt"
        >231 Judicial Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark90"
        style="padding-left: 40pt"
        >232 Detention Facilities and Correctional Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark91"
        style="padding-left: 40pt"
        >233 Residential Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark92"
        style="padding-left: 40pt"
        >234 Amusement Rides </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark93"
        style="padding-left: 40pt"
        >235 Recreational Boating Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark94"
        style="padding-left: 40pt"
        >236 Exercise Machines and Equipment </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark95"
        style="padding-left: 40pt"
        >237 Fishing Piers and Platforms </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark96"
        style="padding-left: 40pt"
        >238 Golf Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark97"
        style="padding-left: 40pt"
        >239 Miniature Golf Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark98"
        style="padding-left: 40pt"
        >240 Play Areas </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark99"
        style="padding-left: 40pt"
        >241 Saunas and Steam Rooms </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark100"
        style="padding-left: 40pt"
        >242 Swimming Pools, Wading Pools, and Spas </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark101"
        style="padding-left: 40pt"
        >243 Shooting Facilities with Firing Positions </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark102"
        style="padding-left: 30pt"
        >CHAPTER 3: BUILDING BLOCKS </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark103"
        style="padding-left: 40pt"
        >301 General </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark104"
        style="padding-left: 40pt"
        >302 Floor or Ground Surfaces </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark105"
        style="padding-left: 40pt"
        >303 Changes in Level </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark106"
        style="padding-left: 40pt"
        >304 Turning Space </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark107"
        style="padding-left: 40pt"
        >305 Clear Floor or Ground Space </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark108"
        style="padding-left: 40pt"
        >306 Knee and Toe Clearance </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark109"
        style="padding-left: 40pt"
        >307 Protruding Objects </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark110"
        style="padding-left: 40pt"
        >308 Reach Ranges </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark111"
        style="padding-left: 40pt"
        >309 Operable Parts </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark112"
        style="padding-left: 30pt"
        >CHAPTER 4: ACCESSIBLE ROUTES</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark113"
        style="padding-left: 40pt"
        >401 General</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark114"
        style="padding-left: 40pt"
        >402 Accessible Routes</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark115"
        style="padding-left: 40pt"
        >403 Walking Surfaces</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark116"
        style="padding-left: 40pt"
        >404 Doors, Doorways, and Gates</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark117"
        style="padding-left: 40pt"
        >405 Ramps</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark118"
        style="padding-left: 40pt"
        >406 Curb Ramps</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark119"
        style="padding-left: 40pt"
        >407 Elevators</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark120"
        style="padding-left: 40pt"
        >408 Limited-Use/Limited-Application Elevators</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark121"
        style="padding-left: 40pt"
        >409 Private Residence Elevators</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark122"
        style="padding-left: 40pt"
        >410 Platform Lifts</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark123"
        style="padding-left: 30pt"
        >CHAPTER 5: GENERAL SITE AND BUILDING ELEMENTS</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark124"
        style="padding-left: 40pt"
        >501 General</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark125"
        style="padding-left: 40pt"
        >502 Parking Spaces</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark126"
        style="padding-left: 40pt"
        >503 Passenger Loading Zones</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark127"
        style="padding-left: 40pt"
        >504 Stairways</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark128"
        style="padding-left: 40pt"
        >505 Handrails</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark129"
        style="padding-left: 30pt"
        >CHAPTER 6: PLUMBING ELEMENTS AND FACILITIES</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark130"
        style="padding-left: 40pt"
        >601 General</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark131"
        style="padding-left: 40pt"
        >602 Drinking Fountains</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark132"
        style="padding-left: 40pt"
        >603 Toilet and Bathing Rooms</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark133"
        style="padding-left: 40pt"
        >604 Water Closets and Toilet Compartments</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark134"
        style="padding-left: 40pt"
        >605 Urinals</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark135"
        style="padding-left: 40pt"
        >606 Lavatories and Sinks</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark136"
        style="padding-left: 40pt"
        >607 Bathtubs</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark137"
        style="padding-left: 40pt"
        >608 Shower Compartments</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark138"
        style="padding-left: 40pt"
        >609 Grab Bars</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark139"
        style="padding-left: 40pt"
        >610 Seats</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark140"
        style="padding-left: 40pt"
        >611 Washing Machines and Clothes Dryers</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark141"
        style="padding-left: 40pt"
        >612 Saunas and Steam Rooms</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark142"
        style="padding-left: 30pt"
        >CHAPTER 7: COMMUNICATION ELEMENTS AND FEATURES</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark143"
        style="padding-left: 40pt"
        >701 General</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark144"
        style="padding-left: 40pt"
        >702 Fire Alarm Systems</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark145"
        style="padding-left: 40pt"
        >703 Signs</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark146"
        style="padding-left: 40pt"
        >704 Telephones</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark147"
        style="padding-left: 40pt"
        >705 Detectable Warnings</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark148"
        style="padding-left: 40pt"
        >706 Assistive Listening Systems</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark149"
        style="padding-left: 40pt"
        >707 Automatic Teller Machines and Fare Machines</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark150"
        style="padding-left: 40pt"
        >708 Two-Way Communication Systems</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark151"
        style="padding-left: 30pt"
        >CHAPTER 8: SPECIAL ROOMS, SPACES, AND ELEMENTS</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark152"
        style="padding-left: 40pt"
        >801 General</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark153"
        style="padding-left: 40pt"
        >802 Wheelchair Spaces, Companion Seats, and Designated Aisle Seats</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark154"
        style="padding-left: 40pt"
        >803 Dressing, Fitting, and Locker Rooms</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark155"
        style="padding-left: 40pt"
        >804 Kitchens and Kitchenettes</a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark156"
        style="padding-left: 40pt"
        >805 Medical Care and Long-Term Care Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark157"
        style="padding-left: 40pt"
        >806 Transient Lodging Guest Rooms </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark158"
        style="padding-left: 40pt"
        >807 Holding Cells and Housing Cells </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark159"
        style="padding-left: 40pt"
        >808 Courtrooms </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark160"
        style="padding-left: 40pt"
        >809 Residential Dwelling Units </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark161"
        style="padding-left: 40pt"
        >810 Transportation Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark162"
        style="padding-left: 40pt"
        >811 Storage </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark163"
        style="padding-left: 30pt"
        >CHAPTER 9: BUILT-IN ELEMENTS </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark164"
        style="padding-left: 40pt"
        >901 General </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark165"
        style="padding-left: 40pt"
        >902 Dining Surfaces and Work Surfaces </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark166"
        style="padding-left: 40pt"
        >903 Benches </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark167"
        style="padding-left: 40pt"
        >904 Check-Out Aisles and Sales and Service Counters </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark168"
        style="padding-left: 30pt"
        >CHAPTER 10: RECREATION FACILITIES </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark169"
        style="padding-left: 40pt"
        >1001 General </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark170"
        style="padding-left: 40pt"
        >1002 Amusement Rides </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark171"
        style="padding-left: 40pt"
        >1003 Recreational Boating Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark172"
        style="padding-left: 40pt"
        >1004 Exercise Machines and Equipment </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark173"
        style="padding-left: 40pt"
        >1005 Fishing Piers and Platforms </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark174"
        style="padding-left: 40pt"
        >1006 Golf Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark175"
        style="padding-left: 40pt"
        >1007 Miniature Golf Facilities </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark176"
        style="padding-left: 40pt"
        >1008 Play Areas </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark177"
        style="padding-left: 40pt"
        >1009 Swimming Pools, Wading Pools, and Spas </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark178"
        style="padding-left: 40pt"
        >1010 Shooting Facilities with Firing Positions </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark179"
        style="padding-left: 20pt"
        >INDEX TO THE 2010 STANDARDS </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark180"
        style="padding-left: 30pt"
        >A </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark181"
        style="padding-left: 30pt"
        >B </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark182"
        style="padding-left: 30pt"
        >C </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark183"
        style="padding-left: 30pt"
        >D </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark184"
        style="padding-left: 30pt"
        >E </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark185"
        style="padding-left: 30pt"
        >F </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark186"
        style="padding-left: 30pt"
        >G </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark187"
        style="padding-left: 30pt"
        >H </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark188"
        style="padding-left: 30pt"
        >I </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark189"
        style="padding-left: 30pt"
        >J </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark190"
        style="padding-left: 30pt"
        >K </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark191"
        style="padding-left: 30pt"
        >L </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark192"
        style="padding-left: 30pt"
        >M </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark193"
        style="padding-left: 30pt"
        >N </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark194"
        style="padding-left: 30pt"
        >O </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark195"
        style="padding-left: 30pt"
        >P </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark196"
        style="padding-left: 30pt"
        >Q </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark197"
        style="padding-left: 30pt"
        >R </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark198"
        style="padding-left: 30pt"
        >S </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark199"
        style="padding-left: 30pt"
        >T </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark200"
        style="padding-left: 30pt"
        >U </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark201"
        style="padding-left: 30pt"
        >V </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark202"
        style="padding-left: 30pt"
        >W </a
      ><a
        class="bookmark"
        target="content"
        href="content.html#bookmark203"
        style="padding-left: 20pt"
        >LIST OF FIGURES FOR THE 2010 STANDARDS
      </a>
    </div>
  </body>
</html>
