<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>2010 ADA Standards for Accessible Design</title>
    <link
      href="../../static/css/codes/2010-desing-standards/navigation.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../static/css/codes/2010-desing-standards/document.css"
      rel="stylesheet"
      type="text/css"
    />
    <meta name="author" content="U.S. Department of Justice" />
    <meta name="description" content="Americans with Disabilities Act." />
  </head>
  <body>
    <p class="top_nav">
      <a href="2010-design-standards_files/part1.htm">Next &gt;</a>
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <h1
      style="
        padding-top: 5pt;
        padding-left: 131pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
      <a name="bookmark0">2010 ADA Standards for Accessible Design</a>
    </h1>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p class="toc">&nbsp;</p>
    <div class="toc">
      <a class="toc0" href="2010-design-standards_files/part1.htm"
        >Department of Justice</a
      ><a class="toc1" href="2010-design-standards_files/part2.htm"
        >For More Information</a
      ><a class="toc1" href="2010-design-standards_files/part3.htm"
        >Compliance Date for Title II</a
      ><a class="toc0" href="2010-design-standards_files/part4.htm">CONTENTS</a
      ><a class="toc1" href="2010-design-standards_files/part5.htm"
        >28 CFR part 35.151 New Construction and Alterations</a
      ><a class="toc2" href="2010-design-standards_files/part6.htm"
        >§ 35.151 New construction and alterations.</a
      ><a class="toc2" href="2010-design-standards_files/part19.htm"
        >The remaining text of the 2010 Standards for Title II starts on page
        31, under the heading 2010 Standards for Titles II and III: 2004
        ADAAG.</a
      ><a class="toc0" href="2010-design-standards_files/part21.htm">CONTENTS</a
      ><a class="toc1" href="2010-design-standards_files/part22.htm"
        >28 CFR part 36, subpart D — New Construction and Alterations</a
      ><a class="toc2" href="2010-design-standards_files/part23.htm"
        >§ Sec.36.401 New construction.</a
      ><a class="toc2" href="2010-design-standards_files/part24.htm"
        >§ 36.402 Alterations.</a
      ><a class="toc2" href="2010-design-standards_files/part25.htm"
        >§ 36.403 Alterations: Path of travel.</a
      ><a class="toc2" href="2010-design-standards_files/part26.htm"
        >§ 36.406 Standards for new construction and alterations.</a
      ><a class="toc1" href="2010-design-standards_files/part27.htm"
        >2004 ADAAG</a
      ><a class="toc2" href="2010-design-standards_files/part28.htm"
        >§ 36.401 New construction.</a
      ><a class="toc2" href="2010-design-standards_files/part34.htm"
        >§ 36.402 Alterations.</a
      ><a class="toc2" href="2010-design-standards_files/part36.htm"
        >§ 36.403 Alterations: Path of travel.</a
      ><a class="toc2" href="2010-design-standards_files/part43.htm"
        >§ 36.404 Alterations: Elevator exemption.</a
      ><a class="toc2" href="2010-design-standards_files/part44.htm"
        >§ 36.405 Alterations: Historic preservation.</a
      ><a class="toc2" href="2010-design-standards_files/part45.htm"
        >§ 36.406 Standards for new construction and alterations.</a
      ><a class="toc2" href="2010-design-standards_files/part49.htm"
        >The remaining text of the 2010 Standards for Title III start on page
        31, under the heading 2010 Standards for Titles II and III: 2004
        ADAAG.</a
      ><a class="toc1" href="2010-design-standards_files/part61.htm"
        >ADA CHAPTER 1: APPLICATION AND ADMINISTRATION</a
      ><a class="toc2" href="2010-design-standards_files/part62.htm"
        >101 Purpose</a
      ><a class="toc2" href="2010-design-standards_files/part63.htm"
        >102 Dimensions for Adults and Children</a
      ><a class="toc2" href="2010-design-standards_files/part64.htm"
        >103 Equivalent Facilitation</a
      ><a class="toc2" href="2010-design-standards_files/part65.htm"
        >104 Conventions</a
      ><a class="toc2" href="2010-design-standards_files/part66.htm"
        >106 Definitions</a
      ><a class="toc2" href="2010-design-standards_files/part67.htm"
        >106.5 Defined Terms.</a
      ><a class="toc1" href="2010-design-standards_files/part68.htm"
        >ADA CHAPTER 2: SCOPING REQUIREMENTS</a
      ><a class="toc2" href="2010-design-standards_files/part69.htm"
        >201 Application</a
      ><a class="toc2" href="2010-design-standards_files/part70.htm"
        >202 Existing Buildings and Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part71.htm"
        >203 General Exceptions</a
      ><a class="toc2" href="2010-design-standards_files/part72.htm"
        >204 Protruding Objects</a
      ><a class="toc2" href="2010-design-standards_files/part73.htm"
        >205 Operable Parts</a
      ><a class="toc2" href="2010-design-standards_files/part74.htm"
        >206 Accessible Routes</a
      ><a class="toc2" href="2010-design-standards_files/part75.htm"
        >207 Accessible Means of Egress</a
      ><a class="toc2" href="2010-design-standards_files/part76.htm"
        >208 Parking Spaces</a
      ><a class="toc2" href="2010-design-standards_files/part77.htm"
        >Table 208.2 Parking Spaces</a
      ><a class="toc2" href="2010-design-standards_files/part78.htm"
        >209 Passenger Loading Zones and Bus Stops</a
      ><a class="toc2" href="2010-design-standards_files/part79.htm"
        >210 Stairways</a
      ><a class="toc2" href="2010-design-standards_files/part80.htm"
        >211 Drinking Fountains</a
      ><a class="toc2" href="2010-design-standards_files/part81.htm"
        >212 Kitchens, Kitchenettes, and Sinks</a
      ><a class="toc2" href="2010-design-standards_files/part82.htm"
        >213 Toilet Facilities and Bathing Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part83.htm"
        >214 Washing Machines and Clothes Dryers</a
      ><a class="toc2" href="2010-design-standards_files/part84.htm"
        >215 Fire Alarm Systems</a
      ><a class="toc2" href="2010-design-standards_files/part85.htm"
        >216 Signs</a
      ><a class="toc2" href="2010-design-standards_files/part86.htm"
        >217 Telephones</a
      ><a class="toc2" href="2010-design-standards_files/part87.htm"
        >Table 217.2 Wheelchair Accessible Telephones</a
      ><a class="toc2" href="2010-design-standards_files/part88.htm"
        >218 Transportation Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part89.htm"
        >219 Assistive Listening Systems</a
      ><a class="toc2" href="2010-design-standards_files/part90.htm"
        >Table 219.3 Receivers for Assistive Listening Systems</a
      ><a class="toc2" href="2010-design-standards_files/part91.htm"
        >220 Automatic Teller Machines and Fare Machines</a
      ><a class="toc2" href="2010-design-standards_files/part92.htm"
        >221 Assembly Areas</a
      ><a class="toc2" href="2010-design-standards_files/part93.htm"
        >[See additional requirements at 28 CFR 35.151(g), p. 12, and 28 CFR
        36.406(f), p. 29.]</a
      ><a class="toc2" href="2010-design-standards_files/part94.htm"
        >Table 221.2.1.1 Number of Wheelchair Spaces in Assembly Areas</a
      ><a class="toc2" href="2010-design-standards_files/part95.htm"
        >222 Dressing, Fitting, and Locker Rooms</a
      ><a class="toc2" href="2010-design-standards_files/part96.htm"
        >223 Medical Care and Long-Term Care Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part97.htm"
        >223.2 Hospitals, Rehabilitation Facilities, Psychiatric Facilities and
        Detoxification Facilities.</a
      ><a class="toc2" href="2010-design-standards_files/part98.htm"
        >224 Transient Lodging Guest Rooms</a
      ><a class="toc2" href="2010-design-standards_files/part99.htm"
        >[See additional requirements for places of lodging at 28 CFR 36.406(c),
        p. 28. and for housing at a place of education at 28 CFR 35.151(f), p.
        11, and 28 CFR 36.406(e), p. 29.]</a
      ><a class="toc2" href="2010-design-standards_files/part100.htm"
        >Table 224.2 Guest Rooms with Mobility Features</a
      ><a class="toc2" href="2010-design-standards_files/part101.htm"
        >Table 224.4 Guest Rooms with Communication Features</a
      ><a class="toc2" href="2010-design-standards_files/part102.htm"
        >225 Storage</a
      ><a class="toc2" href="2010-design-standards_files/part103.htm"
        >Table 225.3 Self-Service Storage Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part104.htm"
        >226 Dining Surfaces and Work Surfaces</a
      ><a class="toc2" href="2010-design-standards_files/part105.htm"
        >227 Sales and Service</a
      ><a class="toc2" href="2010-design-standards_files/part106.htm"
        >Table 227.2 Check-Out Aisles</a
      ><a class="toc2" href="2010-design-standards_files/part107.htm"
        >228 Depositories, Vending Machines, Change Machines, Mail Boxes, and
        Fuel Dispensers</a
      ><a class="toc2" href="2010-design-standards_files/part108.htm"
        >229 Windows</a
      ><a class="toc2" href="2010-design-standards_files/part109.htm"
        >230 Two-Way Communication Systems</a
      ><a class="toc2" href="2010-design-standards_files/part110.htm"
        >231 Judicial Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part111.htm"
        >232 Detention Facilities and Correctional Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part112.htm"
        >233 Residential Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part113.htm"
        >Department of Justice 2010 Standards: Titles II and III - 91</a
      ><a class="toc2" href="2010-design-standards_files/part114.htm"
        >92 - 2010 Standards: Titles II and III Department of Justice</a
      ><a class="toc2" href="2010-design-standards_files/part115.htm"
        >234 Amusement Rides</a
      ><a class="toc2" href="2010-design-standards_files/part116.htm"
        >235 Recreational Boating Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part117.htm"
        >Table 235.2 Boat Slips</a
      ><a class="toc2" href="2010-design-standards_files/part118.htm"
        >236 Exercise Machines and Equipment</a
      ><a class="toc2" href="2010-design-standards_files/part119.htm"
        >237 Fishing Piers and Platforms</a
      ><a class="toc2" href="2010-design-standards_files/part120.htm"
        >238 Golf Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part121.htm"
        >239 Miniature Golf Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part122.htm"
        >240 Play Areas</a
      ><a class="toc2" href="2010-design-standards_files/part123.htm"
        >Table 240.2.1.2 Number and Types of Ground Level Play Components
        Required to be on Accessible Routes</a
      ><a class="toc2" href="2010-design-standards_files/part124.htm"
        >241 Saunas and Steam Rooms</a
      ><a class="toc2" href="2010-design-standards_files/part125.htm"
        >242 Swimming Pools, Wading Pools, and Spas</a
      ><a class="toc2" href="2010-design-standards_files/part126.htm"
        >243 Shooting Facilities with Firing Positions</a
      ><a class="toc1" href="2010-design-standards_files/part127.htm"
        >CHAPTER 3: BUILDING BLOCKS</a
      ><a class="toc2" href="2010-design-standards_files/part128.htm"
        >301 General</a
      ><a class="toc2" href="2010-design-standards_files/part129.htm"
        >302 Floor or Ground Surfaces</a
      ><a class="toc2" href="2010-design-standards_files/part130.htm"
        >Figure 302.2 Carpet Pile Height</a
      ><a class="toc2" href="2010-design-standards_files/part131.htm"
        >Figure 303.2 Vertical Change in Level</a
      ><a class="toc2" href="2010-design-standards_files/part132.htm"
        >Figure 303.3 Beveled Change in Level</a
      ><a class="toc2" href="2010-design-standards_files/part133.htm"
        >304 Turning Space</a
      ><a class="toc2" href="2010-design-standards_files/part134.htm"
        >Figure 304.3.2</a
      ><a class="toc2" href="2010-design-standards_files/part135.htm"
        >305 Clear Floor or Ground Space</a
      ><a class="toc2" href="2010-design-standards_files/part136.htm"
        >Figure 305.3</a
      ><a class="toc2" href="2010-design-standards_files/part137.htm"
        >Figure 305.5</a
      ><a class="toc2" href="2010-design-standards_files/part138.htm"
        >Figure 305.7.1</a
      ><a class="toc2" href="2010-design-standards_files/part139.htm"
        >306.2 Toe Clearance.</a
      ><a class="toc2" href="2010-design-standards_files/part140.htm"
        >Figure 306.2 Toe Clearance</a
      ><a class="toc2" href="2010-design-standards_files/part141.htm"
        >Figure 306.3 Knee Clearance</a
      ><a class="toc2" href="2010-design-standards_files/part142.htm"
        >Figure 307.2</a
      ><a class="toc2" href="2010-design-standards_files/part143.htm"
        >Figure 307.3</a
      ><a class="toc2" href="2010-design-standards_files/part144.htm"
        >Figure 307.4 Vertical Clearance</a
      ><a class="toc2" href="2010-design-standards_files/part145.htm"
        >308 Reach Ranges</a
      ><a class="toc2" href="2010-design-standards_files/part146.htm"
        >308.2 Forward Reach.</a
      ><a class="toc2" href="2010-design-standards_files/part147.htm"
        >Figure 308.2.1 Unobstructed Forward Reach</a
      ><a class="toc2" href="2010-design-standards_files/part148.htm"
        >Figure 308.2.2 Obstructed High Forward Reach</a
      ><a class="toc2" href="2010-design-standards_files/part149.htm"
        >Figure 308.3.1 Unobstructed Side Reach</a
      ><a class="toc2" href="2010-design-standards_files/part150.htm"
        >Figure 308.3.2 Obstructed High Side Reach</a
      ><a class="toc1" href="2010-design-standards_files/part151.htm"
        >CHAPTER 4: ACCESSIBLE ROUTES</a
      ><a class="toc2" href="2010-design-standards_files/part152.htm"
        >401 General</a
      ><a class="toc2" href="2010-design-standards_files/part153.htm"
        >402 Accessible Routes</a
      ><a class="toc2" href="2010-design-standards_files/part154.htm"
        >403 Walking Surfaces</a
      ><a class="toc2" href="2010-design-standards_files/part155.htm"
        >Figure 403.5.1</a
      ><a class="toc2" href="2010-design-standards_files/part156.htm"
        >Figure 403.5.2 Clear Width at Turn</a
      ><a class="toc2" href="2010-design-standards_files/part157.htm"
        >404 Doors, Doorways, and Gates</a
      ><a class="toc2" href="2010-design-standards_files/part158.htm"
        >Figure 404.2.3 Clear Width of Doorways</a
      ><a class="toc2" href="2010-design-standards_files/part159.htm"
        >Table 404.2.4.1 Maneuvering Clearances at Manual Swinging Doors and
        Gates</a
      ><a class="toc2" href="2010-design-standards_files/part160.htm"
        >Table 404.2.4.2 Maneuvering Clearances at Doorways without Doors or
        Gates, Manual Sliding Doors, and Manual Folding Doors</a
      ><a class="toc2" href="2010-design-standards_files/part161.htm"
        >Figure 404.2.4.2</a
      ><a class="toc2" href="2010-design-standards_files/part162.htm"
        >Figure 404.2.4.3</a
      ><a class="toc2" href="2010-design-standards_files/part163.htm"
        >Figure 404.2.6</a
      ><a class="toc2" href="2010-design-standards_files/part164.htm"
        >405 Ramps</a
      ><a class="toc2" href="2010-design-standards_files/part165.htm"
        >Table 405.2 Maximum Ramp Slope and Rise for Existing Sites, Buildings,
        and Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part166.htm"
        >Figure 405.7 Ramp Landings</a
      ><a class="toc2" href="2010-design-standards_files/part167.htm"
        >Figure 405.9.1</a
      ><a class="toc2" href="2010-design-standards_files/part168.htm"
        >Figure 405.9.2</a
      ><a class="toc2" href="2010-design-standards_files/part169.htm"
        >406 Curb Ramps</a
      ><a class="toc2" href="2010-design-standards_files/part170.htm"
        >Figure 406.2</a
      ><a class="toc2" href="2010-design-standards_files/part171.htm"
        >Figure 406.3 Sides of Curb Ramps</a
      ><a class="toc2" href="2010-design-standards_files/part172.htm"
        >Figure 406.4</a
      ><a class="toc2" href="2010-design-standards_files/part173.htm"
        >Figure 406.6</a
      ><a class="toc2" href="2010-design-standards_files/part174.htm"
        >Figure 406.7 Islands in Crossings</a
      ><a class="toc2" href="2010-design-standards_files/part175.htm"
        >Figure 407.2.2.2 Visible Hall Signals</a
      ><a class="toc2" href="2010-design-standards_files/part176.htm"
        >Figure 407.2.3.1</a
      ><a class="toc2" href="2010-design-standards_files/part177.htm"
        >Figure 407.2.3.2</a
      ><a class="toc2" href="2010-design-standards_files/part178.htm"
        >Table 407.4.1 Elevator Car Dimensions</a
      ><a class="toc2" href="2010-design-standards_files/part179.htm"
        >Table 407.4.7.1.3 Elevator Control Button Identification</a
      ><a class="toc2" href="2010-design-standards_files/part180.htm"
        >408 Limited-Use/Limited-Application Elevators</a
      ><a class="toc2" href="2010-design-standards_files/part181.htm"
        >Figure 408.4.1</a
      ><a class="toc2" href="2010-design-standards_files/part182.htm"
        >409 Private Residence Elevators</a
      ><a class="toc2" href="2010-design-standards_files/part183.htm"
        >Figure 409.4.6.2</a
      ><a class="toc2" href="2010-design-standards_files/part184.htm"
        >410 Platform Lifts</a
      ><a class="toc1" href="2010-design-standards_files/part185.htm"
        >CHAPTER 5: GENERAL SITE AND BUILDING ELEMENTS</a
      ><a class="toc2" href="2010-design-standards_files/part186.htm"
        >501 General</a
      ><a class="toc2" href="2010-design-standards_files/part187.htm"
        >502 Parking Spaces</a
      ><a class="toc2" href="2010-design-standards_files/part188.htm"
        >Figure 502.2 Vehicle Parking Spaces</a
      ><a class="toc2" href="2010-design-standards_files/part189.htm"
        >Figure 502.3 Parking Space Access Aisle</a
      ><a class="toc2" href="2010-design-standards_files/part190.htm"
        >503 Passenger Loading Zones</a
      ><a class="toc2" href="2010-design-standards_files/part191.htm"
        >Figure 503.3</a
      ><a class="toc2" href="2010-design-standards_files/part192.htm"
        >504 Stairways</a
      ><a class="toc2" href="2010-design-standards_files/part193.htm"
        >Figure 504.5 Stair Nosings</a
      ><a class="toc2" href="2010-design-standards_files/part194.htm"
        >505 Handrails</a
      ><a class="toc2" href="2010-design-standards_files/part195.htm"
        >Figure 505.4 Handrail Height</a
      ><a class="toc2" href="2010-design-standards_files/part196.htm"
        >Figure 505.5 Handrail Clearance</a
      ><a class="toc2" href="2010-design-standards_files/part197.htm"
        >Figure 505.6</a
      ><a class="toc2" href="2010-design-standards_files/part198.htm"
        >Figure 505.7.2</a
      ><a class="toc2" href="2010-design-standards_files/part199.htm"
        >Figure 505.10.1</a
      ><a class="toc2" href="2010-design-standards_files/part200.htm"
        >Figure 505.10.2</a
      ><a class="toc1" href="2010-design-standards_files/part201.htm"
        >CHAPTER 6: PLUMBING ELEMENTS AND FACILITIES</a
      ><a class="toc2" href="2010-design-standards_files/part202.htm"
        >601 General</a
      ><a class="toc2" href="2010-design-standards_files/part203.htm"
        >602 Drinking Fountains</a
      ><a class="toc2" href="2010-design-standards_files/part204.htm"
        >Figure 602.5</a
      ><a class="toc2" href="2010-design-standards_files/part205.htm"
        >603 Toilet and Bathing Rooms</a
      ><a class="toc2" href="2010-design-standards_files/part206.htm"
        >604 Water Closets and Toilet Compartments</a
      ><a class="toc2" href="2010-design-standards_files/part207.htm"
        >Figure 604.2 Water Closet Location</a
      ><a class="toc2" href="2010-design-standards_files/part208.htm"
        >Figure 604.3.1</a
      ><a class="toc2" href="2010-design-standards_files/part209.htm"
        >Figure 604.3.2 (Exception)</a
      ><a class="toc2" href="2010-design-standards_files/part210.htm"
        >Figure 604.5.1</a
      ><a class="toc2" href="2010-design-standards_files/part211.htm"
        >Figure 604.5.2</a
      ><a class="toc2" href="2010-design-standards_files/part212.htm"
        >Figure 604.7 Dispenser Outlet Location</a
      ><a class="toc2" href="2010-design-standards_files/part213.htm"
        >Figure 604.8.1.1</a
      ><a class="toc2" href="2010-design-standards_files/part214.htm"
        >Figure 604.8.1.2</a
      ><a class="toc2" href="2010-design-standards_files/part215.htm"
        >Figure 604.8.1.4</a
      ><a class="toc2" href="2010-design-standards_files/part216.htm"
        >Figure 604.8.2</a
      ><a class="toc2" href="2010-design-standards_files/part217.htm"
        >605 Urinals</a
      ><a class="toc2" href="2010-design-standards_files/part218.htm"
        >Figure 605.2</a
      ><a class="toc2" href="2010-design-standards_files/part219.htm"
        >606 Lavatories and Sinks</a
      ><a class="toc2" href="2010-design-standards_files/part220.htm"
        >607 Bathtubs</a
      ><a class="toc2" href="2010-design-standards_files/part221.htm"
        >Figure 607.2 Clearance for Bathtubs</a
      ><a class="toc2" href="2010-design-standards_files/part222.htm"
        >Figure 607.4.1</a
      ><a class="toc2" href="2010-design-standards_files/part223.htm"
        >Figure 607.4.2</a
      ><a class="toc2" href="2010-design-standards_files/part224.htm"
        >Figure 607.5 Bathtub Control Location</a
      ><a class="toc2" href="2010-design-standards_files/part225.htm"
        >608 Shower Compartments</a
      ><a class="toc2" href="2010-design-standards_files/part226.htm"
        >Figure 608.2.1</a
      ><a class="toc2" href="2010-design-standards_files/part227.htm"
        >Figure 608.2.2</a
      ><a class="toc2" href="2010-design-standards_files/part228.htm"
        >Figure 608.2.3</a
      ><a class="toc2" href="2010-design-standards_files/part229.htm"
        >Figure 608.3.1</a
      ><a class="toc2" href="2010-design-standards_files/part230.htm"
        >Figure 608.3.2</a
      ><a class="toc2" href="2010-design-standards_files/part231.htm"
        >Figure 608.3.3</a
      ><a class="toc2" href="2010-design-standards_files/part232.htm"
        >Figure 608.5.1</a
      ><a class="toc2" href="2010-design-standards_files/part233.htm"
        >Figure 608.5.2</a
      ><a class="toc2" href="2010-design-standards_files/part234.htm"
        >Figure 608.5.3</a
      ><a class="toc2" href="2010-design-standards_files/part235.htm"
        >609 Grab Bars</a
      ><a class="toc2" href="2010-design-standards_files/part236.htm"
        >Figure 609.2.2</a
      ><a class="toc2" href="2010-design-standards_files/part237.htm"
        >Figure 609.3 Spacing of Grab Bars</a
      ><a class="toc2" href="2010-design-standards_files/part238.htm"
        >610 Seats</a
      ><a class="toc2" href="2010-design-standards_files/part239.htm"
        >Figure 610.2 Bathtub Seats</a
      ><a class="toc2" href="2010-design-standards_files/part240.htm"
        >Figure 610.3 Extent of Seat</a
      ><a class="toc2" href="2010-design-standards_files/part241.htm"
        >Figure 610.3.1 Rectangular Shower Seat</a
      ><a class="toc2" href="2010-design-standards_files/part242.htm"
        >Figure 610.3.2</a
      ><a class="toc2" href="2010-design-standards_files/part243.htm"
        >611 Washing Machines and Clothes Dryers</a
      ><a class="toc1" href="2010-design-standards_files/part244.htm"
        >CHAPTER 7: COMMUNICATION ELEMENTS AND FEATURES</a
      ><a class="toc2" href="2010-design-standards_files/part245.htm"
        >701 General</a
      ><a class="toc2" href="2010-design-standards_files/part246.htm"
        >702 Fire Alarm Systems</a
      ><a class="toc2" href="2010-design-standards_files/part247.htm"
        >703 Signs</a
      ><a class="toc2" href="2010-design-standards_files/part248.htm"
        >Figure 703.2.5 Height of Raised Characters</a
      ><a class="toc2" href="2010-design-standards_files/part249.htm"
        >Table 703.3.1 Braille Dimensions</a
      ><a class="toc2" href="2010-design-standards_files/part250.htm"
        >Figure 703.3.1 Braille Measurement</a
      ><a class="toc2" href="2010-design-standards_files/part251.htm"
        >Figure 703.3.2 Position of Braille</a
      ><a class="toc2" href="2010-design-standards_files/part252.htm"
        >Figure 703.4.1</a
      ><a class="toc2" href="2010-design-standards_files/part253.htm"
        >Figure 703.4.2</a
      ><a class="toc2" href="2010-design-standards_files/part254.htm"
        >Table 703.5.5 Visual Character Height</a
      ><a class="toc2" href="2010-design-standards_files/part255.htm"
        >Figure 703.6.1 Pictogram Field</a
      ><a class="toc2" href="2010-design-standards_files/part256.htm"
        >703.7.2 Symbols.</a
      ><a class="toc2" href="2010-design-standards_files/part257.htm"
        >Figure 703.7.2.1 International Symbol of Accessibility</a
      ><a class="toc2" href="2010-design-standards_files/part258.htm"
        >Figure 703.7.2.2 International Symbol of TTY</a
      ><a class="toc2" href="2010-design-standards_files/part259.htm"
        >Figure 703.7.2.3 Volume Control Telephone</a
      ><a class="toc2" href="2010-design-standards_files/part260.htm"
        >Figure 704.2.1.1 Parallel Approach to Telephone</a
      ><a class="toc2" href="2010-design-standards_files/part261.htm"
        >Figure 704.2.1.2 Forward Approach to Telephone</a
      ><a class="toc2" href="2010-design-standards_files/part262.htm"
        >705 Detectable Warnings</a
      ><a class="toc2" href="2010-design-standards_files/part263.htm"
        >Figure 705.1</a
      ><a class="toc2" href="2010-design-standards_files/part264.htm"
        >706 Assistive Listening Systems</a
      ><a class="toc2" href="2010-design-standards_files/part265.htm"
        >707 Automatic Teller Machines and Fare Machines</a
      ><a class="toc2" href="2010-design-standards_files/part266.htm"
        >Figure 707.6.2 Numeric Key Layout</a
      ><a class="toc2" href="2010-design-standards_files/part267.htm"
        >708 Two-Way Communication Systems</a
      ><a class="toc1" href="2010-design-standards_files/part268.htm"
        >CHAPTER 8: SPECIAL ROOMS, SPACES, AND ELEMENTS</a
      ><a class="toc2" href="2010-design-standards_files/part269.htm"
        >801 General</a
      ><a class="toc2" href="2010-design-standards_files/part270.htm"
        >802 Wheelchair Spaces, Companion Seats, and Designated Aisle Seats</a
      ><a class="toc2" href="2010-design-standards_files/part271.htm"
        >Figure 802.1.2</a
      ><a class="toc2" href="2010-design-standards_files/part272.htm"
        >Figure 802.1.3</a
      ><a class="toc2" href="2010-design-standards_files/part273.htm"
        >Figure 802.2.1.1</a
      ><a class="toc2" href="2010-design-standards_files/part274.htm"
        >Figure 802.2.1.2</a
      ><a class="toc2" href="2010-design-standards_files/part275.htm"
        >Figure 802.2.2.1</a
      ><a class="toc2" href="2010-design-standards_files/part276.htm"
        >Figure 802.2.2.2</a
      ><a class="toc2" href="2010-design-standards_files/part277.htm"
        >803 Dressing, Fitting, and Locker Rooms</a
      ><a class="toc2" href="2010-design-standards_files/part278.htm"
        >804 Kitchens and Kitchenettes</a
      ><a class="toc2" href="2010-design-standards_files/part279.htm"
        >Figure 804.2.1 Pass Through Kitchens</a
      ><a class="toc2" href="2010-design-standards_files/part280.htm"
        >Figure 804.2.2</a
      ><a class="toc2" href="2010-design-standards_files/part281.htm"
        >805 Medical Care and Long-Term Care Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part282.htm"
        >806 Transient Lodging Guest Rooms</a
      ><a class="toc2" href="2010-design-standards_files/part283.htm"
        >807 Holding Cells and Housing Cells</a
      ><a class="toc2" href="2010-design-standards_files/part284.htm"
        >808 Courtrooms</a
      ><a class="toc2" href="2010-design-standards_files/part285.htm"
        >809 Residential Dwelling Units</a
      ><a class="toc2" href="2010-design-standards_files/part286.htm"
        >809.2.2 Turning Space.</a
      ><a class="toc2" href="2010-design-standards_files/part287.htm"
        >810 Transportation Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part288.htm"
        >Figure 810.2.2</a
      ><a class="toc2" href="2010-design-standards_files/part289.htm"
        >Figure 810.3 Bus Shelters</a
      ><a class="toc2" href="2010-design-standards_files/part290.htm"
        >Figure 810.10 (Exception) Track Crossings</a
      ><a class="toc1" href="2010-design-standards_files/part291.htm"
        >CHAPTER 9: BUILT-IN ELEMENTS</a
      ><a class="toc2" href="2010-design-standards_files/part292.htm"
        >901 General</a
      ><a class="toc2" href="2010-design-standards_files/part293.htm"
        >902 Dining Surfaces and Work Surfaces</a
      ><a class="toc2" href="2010-design-standards_files/part294.htm"
        >903 Benches</a
      ><a class="toc2" href="2010-design-standards_files/part295.htm"
        >Figure 903.4 Bench Back Support</a
      ><a class="toc2" href="2010-design-standards_files/part296.htm"
        >904 Check-Out Aisles and Sales and Service Counters</a
      ><a class="toc2" href="2010-design-standards_files/part297.htm"
        >Figure 904.3.2 Check-Out Aisle Counters</a
      ><a class="toc2" href="2010-design-standards_files/part298.htm"
        >Figure 904.4 (Exception) Alteration of Sales and Service Counters</a
      ><a class="toc1" href="2010-design-standards_files/part299.htm"
        >CHAPTER 10: RECREATION FACILITIES</a
      ><a class="toc2" href="2010-design-standards_files/part300.htm"
        >1001 General</a
      ><a class="toc2" href="2010-design-standards_files/part301.htm"
        >1002 Amusement Rides</a
      ><a class="toc2" href="2010-design-standards_files/part302.htm"
        >Figure 1002.4.4.3</a
      ><a class="toc2" href="2010-design-standards_files/part303.htm"
        >1003 Recreational Boating Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part304.htm"
        >1005 Fishing Piers and Platforms</a
      ><a class="toc2" href="2010-design-standards_files/part305.htm"
        >Figure 1005.3.2</a
      ><a class="toc2" href="2010-design-standards_files/part306.htm"
        >1006 Golf Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part307.htm"
        >1007 Miniature Golf Facilities</a
      ><a class="toc2" href="2010-design-standards_files/part308.htm"
        >Figure 1008.3.1 Transfer Platforms</a
      ><a class="toc2" href="2010-design-standards_files/part309.htm"
        >Figure 1008.3.2 Transfer Steps</a
      ><a class="toc2" href="2010-design-standards_files/part310.htm"
        >1009 Swimming Pools, Wading Pools, and Spas</a
      ><a class="toc2" href="2010-design-standards_files/part311.htm"
        >Figure 1009.2.2 Pool Lift Seat Location</a
      ><a class="toc2" href="2010-design-standards_files/part312.htm"
        >Figure 1009.2.3</a
      ><a class="toc2" href="2010-design-standards_files/part313.htm"
        >Figure 1009.2.4 Pool Lift Seat Height</a
      ><a class="toc2" href="2010-design-standards_files/part314.htm"
        >Figure 1009.2.8</a
      ><a class="toc2" href="2010-design-standards_files/part315.htm"
        >Figure 1009.3.2</a
      ><a class="toc2" href="2010-design-standards_files/part316.htm"
        >Figure 1009.3.3 Handrails for Sloped Entry</a
      ><a class="toc2" href="2010-design-standards_files/part317.htm"
        >Figure 1009.4.1</a
      ><a class="toc2" href="2010-design-standards_files/part318.htm"
        >Figure 1009.4.2 Transfer Wall Height</a
      ><a class="toc2" href="2010-design-standards_files/part319.htm"
        >Figure 1009.4.3</a
      ><a class="toc2" href="2010-design-standards_files/part320.htm"
        >Figure 1009.4.5</a
      ><a class="toc2" href="2010-design-standards_files/part321.htm"
        >Figure 1009.5.1 Size of Transfer Platform</a
      ><a class="toc2" href="2010-design-standards_files/part322.htm"
        >Figure 1009.5.2</a
      ><a class="toc2" href="2010-design-standards_files/part323.htm"
        >Figure 1009.5.4 Transfer Steps</a
      ><a class="toc2" href="2010-design-standards_files/part324.htm"
        >Figure 1009.5.6 Size of Transfer Steps</a
      ><a class="toc2" href="2010-design-standards_files/part325.htm"
        >Figure 1009.5.7 Grab Bars</a
      ><a class="toc2" href="2010-design-standards_files/part326.htm"
        >1010 Shooting Facilities with Firing Positions</a
      ><a class="toc2" href="2010-design-standards_files/part327.htm"
        >INDEX TO THE 2010 STANDARDS</a
      ><a class="toc2" href="2010-design-standards_files/part330.htm">A </a
      ><a class="toc2" href="2010-design-standards_files/part344.htm">B </a
      ><a class="toc2" href="2010-design-standards_files/part353.htm">C </a
      ><a class="toc2" href="2010-design-standards_files/part374.htm">D </a
      ><a class="toc2" href="2010-design-standards_files/part386.htm">E </a
      ><a class="toc2" href="2010-design-standards_files/part391.htm">F </a
      ><a class="toc2" href="2010-design-standards_files/part396.htm">G </a
      ><a class="toc2" href="2010-design-standards_files/part400.htm">H </a
      ><a class="toc2" href="2010-design-standards_files/part405.htm">I </a
      ><a class="toc2" href="2010-design-standards_files/part409.htm">J </a
      ><a class="toc2" href="2010-design-standards_files/part411.htm">K </a
      ><a class="toc2" href="2010-design-standards_files/part413.htm">L </a
      ><a class="toc2" href="2010-design-standards_files/part419.htm">M </a
      ><a class="toc2" href="2010-design-standards_files/part427.htm">N </a
      ><a class="toc2" href="2010-design-standards_files/part430.htm">O </a
      ><a class="toc2" href="2010-design-standards_files/part433.htm">P </a
      ><a class="toc2" href="2010-design-standards_files/part446.htm">Q </a
      ><a class="toc2" href="2010-design-standards_files/part448.htm">R </a
      ><a class="toc2" href="2010-design-standards_files/part459.htm">S </a
      ><a class="toc2" href="2010-design-standards_files/part481.htm">T </a
      ><a class="toc2" href="2010-design-standards_files/part494.htm">U </a
      ><a class="toc2" href="2010-design-standards_files/part496.htm">V </a
      ><a class="toc2" href="2010-design-standards_files/part498.htm">W </a>
    </div>
    <p class="nav">&nbsp;&nbsp;</p>
    <p class="nav">&nbsp;</p>
    <p class="nav">
      <a href="2010-design-standards_files/part1.htm">Next &gt;</a>
    </p>
    <p class="nav">&nbsp;&nbsp;</p>
  </body>
</html>
